[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:none

# RCS1018: Add accessibility modifiers.
dotnet_diagnostic.RCS1018.severity = none

# RCS1003: Add braces to if-else (when expression spans over multiple lines).
dotnet_diagnostic.RCS1003.severity = none

# RCS1057: Add empty line between declarations.
dotnet_diagnostic.RCS1057.severity = none

# RCS1123: Add parentheses according to operator precedence.
dotnet_diagnostic.RCS1123.severity = none

# RCS1001: Add braces (when expression spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = none

# RCS1036: Remove redundant empty line.
dotnet_diagnostic.RCS1036.severity = none
